@media only screen and (max-width : 768px) {

    body {
        font-size: 50%;
    }

    h1 {
        padding-left: 11px;
        font-size: 3em;
    }

    h2 {
        font-size: 4.5em;
    }

    .main-header {
        background: #000;
        opacity: 0.788;
        box-shadow: 0 1px 51px rgba(0, 0, 0, 1);
    }

    .logo img {
        width: 125px;
    }

    .logo {
        margin: 15px 25px;
    }

    .main-nav {
        width: auto;
        display: flex;
        justify-content: flex-end;
    }

    .navigation {
        display: block;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        padding: 0;
        background: black;
        font-size: 2em;
        opacity: 0;
        visibility: hidden;
    }

    .navigation li:not(:last-of-type):after {
        content: '';
    }

    .open-drop-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(28px);
        transition: 250ms;
    }

    .open-drop-menu li {
        margin: 0 25px;
        border-bottom: 1px solid #2a94fb;
        text-align: center;
    }

    .open-drop-menu li:last-of-type {
        border-bottom: none;
    }

    .open-drop-menu li a {
        display: block;
        padding: 15px 0;
    }

    .open-menu {
        display: block;
    }

    .hamburger {
        display: block;
        width: 25px;
        height: 20px;
        position: relative;
        margin: 10px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #2a94fb;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    .hamburger span:nth-child(1) {
        top: 0;
    }

    .hamburger span:nth-child(2),
    .hamburger span:nth-child(3) {
        top: 8px;
    }

    .hamburger span:nth-child(4) {
        top: 16px;
    }

    .hamburger.open span:nth-child(1) {
        top: 8px;
        width: 0%;
        left: 50%;
    }

    .hamburger.open span:nth-child(2) {
        transform: rotate(45deg);
    }

    .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .hamburger.open span:nth-child(4) {
        top: 8px;
        width: 0;
        left: 50%;
    }

    .title {
        margin: 127px 0 139px 0;
        max-width: 300px;
    }

    .title p {
        padding: 3px 0 5px 11px;
        font-size: 2.16em;
    }

    .header-section {
        margin-top: 11px;
        margin-left: -5px;
    }

    .header-section > img {
        margin: 5px 4px 0 0;
        width: 200px;
        height: auto;
    }

    .subtext {
        max-width: 300px;
        margin: 16px 0 0 3px;
        padding: 13px 0;
    }

    .subtext p {
        padding: 0 4px;
    }

    .about figure {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 300px;
        padding-bottom: 30px;
    }

    .about figure:first-of-type {
        margin: 52px auto auto;
        padding-bottom: 30px;
    }

    .about figure img {
        width: 100%;
        height: auto;
    }

    .about figure img:first-child {
        max-width: 207px;
    }

    .about figure img:nth-child(2) {
        max-width: 175px;
    }

    .about figure figcaption {
        display: none;
    }

    .about .smartphone-open {
        display: block;
        max-width: 210px;
        text-align: center;
        width: 100%;
        font: normal 2.25em 'robotomedium';
    }

    .solution .header-section {
        margin-top: 20px;
    }

    .subtext.center {
        padding: 40px 0;
    }

    .subtext.center p {
        font-family: 'robotoblack';
    }

    .rhombes-wrap {
        margin-bottom: 92px;
        margin-top: -3px;
    }

    .rhombes {
        width: 320px;
        transform: none;
    }

    .rhombes div {
        width: 103px;
        height: 103px;
        margin-top: 77px;
        transform: rotate(-135deg);
        overflow: visible;
    }

    .rhombes div::before,
    .rhombes div:hover::before {
        top: 20px;
        left: -9px;
        background-size: 50%;
    }

    .rhombes p {
        display: inline-block;
        margin: 13px 0 0 -22px;
        padding: 0 14px 0 0;
        padding: 0px 20px;
        line-height: 1em;
        font: normal 2em 'robotomedium';
    }

    .rhombes div.rhomb-1 {
        order: 5;
        margin-left: 25px;
    }

    .rhombes div.rhomb-2 {
        order: 2;
        margin-top: 100px;
    }

    .rhombes div.rhomb-3 {
        order: 1;
        margin-top: 100px;
        margin-left: 25px;
    }

    .rhombes div.rhomb-4 {
        order: 6;
    }

    .rhombes div.rhomb-5 {
        order: 3;
        margin-left: 25px;
        margin-right: 5px;
    }

    .rhombes div.rhomb-6 {
        order: 4;
    }

    .rhombes div:nth-child(2n) {
        margin-left: 50px;
    }

    .solution hr.line {
        display: block;
        height: 2px;
        width: 300px;
        background: #a1a2a3;
        border: none;
        margin-bottom: 27px;
    }

    .arrow-btn {
        display: block;
        margin: 0 20px 5px 0;
        outline: none;
    }

    .btn-group {
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        margin: 30px 0;
    }

    .open-pop-up {
        margin: 20px;
        padding: 3%;
        font-size: 2.5em;
    }

    .qr-codes {
        flex-direction: column;
        margin: 0 0 50px 0;
    }

    .ios-qr,
    .android-qr {
        flex-basis: auto;
    }

    .android-qr {
        margin-bottom: 25px;
    }

    .android-qr-text {
        order: 1;
    }

    .android-qr img:first-of-type {
        order: 2;
    }

    .news .header-section {
        margin-top: 30px;
    }

    .news-container {
        margin-bottom: 30px;
    }

    .news-article {
        flex-wrap: wrap;
        margin: 20px 0;
        padding: 15px 10px;
        border-top: none;
    }

    .news-article > div {
        flex: auto;
    }

    .news-article > div:first-of-type {
        width: 65%;
        order: 1;
    }

    .news-article > div:nth-of-type(2) {
        width: 100%;
        order: 3;
    }

    .news-article > div:last-of-type {
        width: 30%;
        order: 2;
    }

    .news-article.news-article-center > div:first-of-type {
        width: 30%;
        order: 2;
    }

    .news-article.news-article-center > div:nth-of-type(2) {
        width: 100%;
        order: 3;
    }

    .news-article.news-article-center > div:last-of-type {
        width: 65%;
        order: 1;
    }

    .news-article > div:first-of-type {
        text-align: left;
    }

    .calendar,
    .calendar.calendar-right {
        margin: 15px 0 0 40px;
    }

    .calendar::after {
        right: initial;
        left: -38px;
    }

    .news-article > div:nth-of-type(2):before,
    .news-article > div:nth-of-type(2):after {
        content: none;
    }

    .news-article > div:nth-of-type(2) {
        border: none;
    }

    .news-article h3 {
        font-size: 2.25em;
    }

    .calendar,
    .news-article p {
        font-size: 1.5em;
    }

    .calendar::after {
        background-size: 80%;
    }


        /*SUPPORT*/


    .feedback-form input,
    .feedback-form textarea {
        width: 100%;
        flex: auto;
        margin: 0 0 30px 0;
        font-size: 2.25em;
    }

    .feedback-form button {
        margin: 0;
        font-size: 2.25em;
    }

    .location .header-section {
        margin-top: 19px;
        margin-left: 0;
    }

    .subtext-location {
        max-width: 700px;
    }

    .subtext-location p {
        font: normal 2.25em 'robotomedium';
    }

    .subtext-location p:first-child {
        font-size: 3em;
    }

    .subtext-location p:first-child {
        margin: 20px 0 18px 0;
    }

    .location-map {
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 700px;
        margin-top: 15px;
    }

    .location-map figure {
        width: 100%;
    }

    .location-map form {
        align-items: center;
        width: 75%;
        margin: 40px 0 0 0;
        box-sizing: border-box;
    }

    .location-map form input {
        padding: 11px;
        margin-bottom: 32px;
        font: normal 2.5em 'robotomedium';
    }

    .location-map form input[type="text"]:nth-child(3) {
        margin-bottom: 32px;
    }

    .location-map figcaption::before {
        background-size: 50%;
        top: -36px;
    }

    .location-map figure figcaption {
        top: 41px;
        left: 112px;
    }

    .location-map figure img {
        width: 88%;
        height: auto;
    }

    .agreement-lbl {
        width: 300px;
        margin: 80px 0 0 0;
        text-align: center;
        text-transform: uppercase;
        font: normal 3.25em 'robotomedium';
    }

    .agreement-lbl:after {
        width: 61px;
        height: 59px;
        top: -80px;
        right: 122px;
        background: url("../img/unchecked-mobile.png");
    }

    .agreement:checked ~ .agreement-lbl::after {
        background: url("../img/checked-mobile.png");
    }

    .request button {
        max-width: 215px;
        margin-top: 30px;
        font-size: 3em;
    }

    .soc-icons {
        margin: 40px 0 50px 0;
    }

    footer p {
        padding: 10px 0;
        text-align: center;
        font-size: 1.5em;
    }



        /*POPUP*/

    .pop-up {
        flex-direction: column;
    }

    .pop-up input {
        margin-bottom: 7%;
        font-size: 2em;
    }

    .form-left,
    .form-right {
        margin: 0 6.5%;
    }

    .form-left {
        margin-top: 3%;
    }

    .form-right input:nth-of-type(2) {
        margin-bottom: 12%;
    }

    .pop-up-lbl {
        font-size: 2.5em;
    }

    .pop-up-lbl::after,
    .form-right .agreement:checked ~ .pop-up-lbl::after {
        top: -8px;
    }

    .pop-up button {
        font-size: 2.5em;
    }

}

